@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .cart-wrapper {
        grid-template-columns: 1fr; 
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 1.1rem;
    }
    .grid-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card img {
        height: auto; 
    }
    .perfil-menu-grid {
        grid-template-columns: 1fr;
    }
    .menu-item.logout {
        grid-column: span 1;
    }
    .cart-wrapper {
        grid-template-columns: 1fr; 
    }
}