@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 1rem;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .perfil-menu-grid {
        grid-template-columns: 1fr; /* Una columna en celulares */
    }
    .menu-item.logout {
        grid-column: span 1;
    }
}
@media (max-width: 850px) {
    .cart-wrapper {
        grid-template-columns: 1fr; /* Una columna en celulares */
    }
}
